In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [34]:
datasets = ['dataset-resize-16.csv', 
            'dataset-resize-32.csv',
            'dataset-resize-64.csv',
            'dataset-resize-128.csv',
            ]

In [51]:
scaler = StandardScaler()

for i in datasets:
    df = pd.read_csv(i)
    df = df.iloc[:,1:]

    y = df.iloc[:,[0]]
    y_encoded = pd.get_dummies(y)
    x = df.iloc[:,1:]

    combined_df = pd.concat([x, y_encoded], axis=1)

    # Melakukan fit transform ke kolom-kolom numerik
    combined_df = pd.DataFrame(scaler.fit_transform(combined_df))
    
    combined_df.to_csv(f'cleaned-{i}')

In [36]:
df = pd.read_csv('dataset-resize-16.csv')
df = df.iloc[:,1:]
df.head()

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,Angry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Angry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Angry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Angry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Angry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
y = df.iloc[:,[0]]
y_encoded = pd.get_dummies(y)
y_encoded

     0_Angry  0_Happy  0_Other  0_Sad
0          1        0        0      0
1          1        0        0      0
2          1        0        0      0
3          1        0        0      0
4          1        0        0      0
..       ...      ...      ...    ...
995        0        0        0      1
996        0        0        0      1
997        0        0        0      1
998        0        0        0      1
999        0        0        0      1

[1000 rows x 4 columns]

In [40]:
x = df.iloc[:,1:]
x

,1,2,3,4,5,6,7,8,9,10,...,247,248,249,250,251,252,253,254,255,256
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
combined_df = pd.concat([x, y_encoded], axis=1)
combined_df.head()

,1,2,3,4,5,6,7,8,9,10,...,251,252,253,254,255,256,0_Angry,0_Happy,0_Other,0_Sad
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [49]:
# Misalkan 'numeric_cols' adalah daftar fitur-fitur numerik dalam dataset Anda
scaler = StandardScaler()

# Melakukan fit transform ke kolom-kolom numerik
combined_df = scaler.fit_transform(combined_df)